.container {
    width: 80%;
    margin: auto;
}

.flex-container {
    display: flex;
}

.flex-container .flex-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.flex-container .flex-item  img {
    width: 100%;
}

.flex-container .flex-item:nth-child(2)  img {
    height: 100%;
    width: auto;
}